%h1 Stored Data
.input-append
  = form_for @search, :url => "/stored_data", :html => {:method => :get} do |f|
    = f.collection_select :application_id_equals, @applications, :id, :name, :include_blank => true
    = f.submit "Search", :class => 'btn btn-primary'

.table_container
  %table.table.table-hover.table-bordered
    %thead
      %tr
        %th Key
        %th Value
    %tbody
      - @stored_datum.each do |data|
        %tr
          %td= data.key
          %td= data.value
