!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "DataVault"
      %meta{:content => content_for?(:description) ? yield(:description) : "DataVault", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    .container-narrow
      = render 'layouts/messages'
      %hr
      .container-fluid
        .row-fluid
          .span8
            .logo
              %h1 DataVault
            .info
              %h4 Wellcome!
              %p This is the test application.
              Please
              %strong "Sign in"
              or
              %strong "Sign up"
          .span4
            = yield
      %hr
      %footer